* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}
img {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}